<!doctype html>
<html class="no-js" lang="en">

<body>
    <div class="main-wrapper">



        <!-- ========== Start header ========== -->
        <%-include('mainHeader.ejs')%>
            <!-- ========== End header ========== -->


            <!-- Page Banner Start -->
            <div id="bg-color-purple">
                <div class="container">
                    <div class="event-about-section">
                        <div class="call-papers">
                            <img src="/assets/images/call-papers.svg" alt="">
                        </div>



                        <%-include("eventNav.ejs")%>

                            <div class="clearfix pb-5">
                                <% speakerData.forEach(item=> { %>
                                    <div class="col-12 col-md-4 mb-5">
                                        <div class="guest library-cta">

                                            <div class="guest-box-section">

                                                <div class="guest-img">
                                                    <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ item.photo}` %>"
                                                        alt="">
                                                </div>
                                                <div class="event_content_gust">
                                                    <div class="guest-content-head-title">
                                                        <h3>
                                                            <%= item.name %>
                                                        </h3>
                                                    </div>
                                                    <div class="guest-content-para">
                                                        <p>
                                                            <%= item.designation %>
                                                        </p>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>



                                    <% }); %>

                            </div>
                    </div>




                </div>



            </div>

    </div>

    <div class="clearfix"></div>
    <%-include('mainFooter.ejs')%>

</body>


</html>