<!doctype html>
<html class="no-js" lang="en">


<body>
    <div class="main-wrapper">



        <!-- ========== Start header ========== -->
        <%-include('mainHeader.ejs')%>
            <!-- ========== End header ========== -->


            <!-- Page Banner Start -->
            <div id="bg-color-purple">
                <div class="container">
                    <div class="event-about-section">
                        <div class="call-papers">
                            <img src="/assets/images/call-papers.svg" alt="">
                        </div>
                        <%-include("eventNav.ejs")%>


                            <div class="FAQs-content">
                                <% faqData.forEach(item=> { %>
                                    <ul style="list-style-type: disc; color: white; padding-top: 10px;">
                                        <li>
                                            <%= item.question %>
                                        </li>
                                        <p>
                                            <%= item.answer %>
                                        </p>
                                    </ul>
                                    <% }); %>
                            </div>
                    </div>
                </div>
            </div>

    </div>
    <%-include('mainFooter.ejs')%>

</body>


</html>