<!doctype html>
<html class="no-js" lang="en">
<body>
    <div class="main-wrapper">

        <!-- Preloader start -->
        <!-- <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div> -->
        <!-- Preloader End -->

        <!-- ========== Start header ========== -->
        <%-include('mainHeader.ejs')%>
            <!-- ========== End header ========== -->


            <!-- Page Banner Start -->
            <div id="bg-color-purple">
                <div class="container">
                    <div class="event-about-section">
                        <div class="call-papers">
                            <img src="/assets/images/call-papers.svg" alt="">
                        </div>
                     
                <%-include("eventNav.ejs")%>
                        <div class="theme-contents">

                            <h4 style="color: #fff;">Major Themes:</h4>
                            <%= eventData.theme %>
                            <ul style="list-style-type: disc; color: white; padding-top: 10px;">
                                <li><%= eventData.theme %></li>
                            </ul>
                            <!-- <ul style="list-style-type: disc; color: white; padding-top: 10px;">
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores vitae ipsa
                                    facilis aspernatur eveniet. </li>
                            </ul>
                            <ul style="list-style-type: disc; color: white; padding-top: 10px;">
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores vitae ipsa
                                    facilis aspernatur eveniet. </li>
                            </ul>
                            <ul style="list-style-type: disc; color: white; padding-top: 10px;">
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores vitae ipsa
                                    facilis aspernatur eveniet. </li>
                            </ul>
                            <ul style="list-style-type: disc; color: white; padding-top: 10px;">
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores vitae ipsa
                                    facilis aspernatur eveniet. </li>
                            </ul>
                            <ul style="list-style-type: disc; color: white; padding-top: 10px;">
                                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maiores vitae ipsa
                                    facilis aspernatur eveniet. </li>
                            </ul> -->
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <%-include('mainFooter.ejs')%>

</body>


</html>