<!DOCTYPE html>
<html>

<head>
  <!-- Your head content here -->
</head>

<body>
  <div class="main-wrapper">
    <!-- Preloader start -->
    <!--
    <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div>
    -->
    <!-- Preloader End -->

    <!-- ========== Start header ========== -->
    <%- include("mainHeader.ejs") %>
      <!-- ========== End header ========== -->

      <!-- Page Banner Start -->
      <div id="bg-color-purple">
        <div class="page_backarrow">
          <a href="/"><i><svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 19 20" fill="none">
                <path
                  d="M10.0054 0.265434C10.3271 0.587173 10.3564 1.09064 10.0931 1.44542L10.0054 1.54706L2.18829 9.36458L10.0054 17.1821C10.3271 17.5038 10.3564 18.0073 10.0931 18.3621L10.0054 18.4637C9.68366 18.7855 9.18019 18.8147 8.82541 18.5515L8.72376 18.4637L0.265433 10.0054C-0.0563049 9.68365 -0.0855541 9.18019 0.177686 8.82541L0.265433 8.72376L8.72376 0.265434C9.07768 -0.0884781 9.65148 -0.0884781 10.0054 0.265434Z"
                  fill="#FF4A8C" />
              </svg></i></a>
        </div>
        <div class="container">
          <div class="events-page-main">
            <div class="event-title">
              <h1>Events</h1>
            </div>

            <div class="updates_menu_scroll">
              <ul>
                <li data-section="All">All</li>
                <li data-section="Seminar">Seminar</li>
                <li data-section="Workshop">Workshop</li>
                <li data-section="Book Talks">Book Talks</li>
                <li data-section="Reading Session">Reading Session</li>
                <li data-section="Academic Conference">Academic Conference</li>
                <li data-section="Public Discussion">Public Discussion</li>
                <li data-section="Online Academic Conclaves">
                  Online Academic Conclaves
                </li>
              </ul>
            </div>

            <div class="row">
              <% eventData.forEach(item=> { %>
                <div class="col-12 col-md-4 event-box" data-section="<%= item.eventType %>">
                  <div class="event-box-section">
                    <div class="workshop">
                      <h1 class="workshop_title">
                        <%= item.eventType %>
                      </h1>
                      <svg xmlns="http://www.w3.org/2000/svg" width="165" height="100" viewBox="0 0 68 19" fill="none">
                        <g filter="url(#filter0_b_14_640)">
                          <path d="M0.2836 0.985077H67.9851V18.5373H0.2836L4.55948 9.60448L0.2836 0.985077Z"
                            fill="white" fill-opacity="0.28" />
                          <path
                            d="M0.536283 1.14179H67.8284V18.3806H0.532361L4.70084 9.67214L4.73382 9.60325L4.69987 9.53483L0.536283 1.14179Z"
                            stroke="white" stroke-opacity="0.1" stroke-width="0.313433" />
                        </g>
                        <defs>
                          <filter id="filter0_b_14_640" x="-5.10745" y="-4.40597" width="78.4836" height="28.3343"
                            filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix" />
                            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2.69552" />
                            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_14_640" />
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_14_640"
                              result="shape" />
                          </filter>
                        </defs>
                      </svg>
                    </div>
                    <div class="event-img">
                      <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${item.image}` %>" alt="" onerror="this.src='/assets/images/no-image.jpg'" />
                    </div>
                    <div class="event-content">
                      <div class="event-content-head-title">
                        <p>
                          <span>One day Workshop on</span><br /><strong style="font-size: 23px">
                            <%= item.title %>
                          </strong>
                        </p>
                      </div>
                      <div class="event-content-para">
                        <p>
                          <%= item.shortDescription.substring(0, 60) %>
                        </p>
                      </div>
                      <div class="know-more-btn">
                        <a href="/event_single/<%= item._id %>">
                          <button>
                            Know More <i class="fas fa-arrow-right"></i>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <% }); %>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="footer_hide_mobile">
          <!-- ========== Start footer ========== -->
          <%- include("mainFooter.ejs") %>
            <!-- ========== End footer ========== -->
        </div>
      </div>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Function to toggle the "active" class for navigation items
      function toggleActiveNavigation(section) {
        var eventNavItems = document.querySelectorAll(".updates_menu_scroll li");
        eventNavItems.forEach(function (item) {
          if (item.getAttribute("data-section") === section) {
            item.classList.add("active");
          } else {
            item.classList.remove("active");
          }
        });
      }

      // Add click event listeners to "li" tags in the eventNav
      var eventNavItems = document.querySelectorAll(".updates_menu_scroll li");
      eventNavItems.forEach(function (item) {
        item.addEventListener("click", function () {
          var targetSection = this.getAttribute("data-section");
          toggleActiveNavigation(targetSection); // Update active navigation item
          filterEventsByType(targetSection); // Filter events by selected event type
        });
      });

      // Initially, show the "All" section and set it as active
      toggleActiveNavigation("All");
    });

    // Function to filter and display events based on the selected event type
    function filterEventsByType(eventType) {
      var eventBoxes = document.querySelectorAll(".event-box");

      eventBoxes.forEach(function (box) {
        var boxEventType = box.getAttribute("data-section");

        if (eventType === "All" || eventType === boxEventType) {
          box.style.display = "block"; // Show the event box
        } else {
          box.style.display = "none"; // Hide the event box
        }
      });
    }
  </script>
</body>

</html>