<!doctype html>
<html class="no-js" lang="en">

<body>
    <div class="main-wrapper">

        <!-- Preloader start -->
        <!-- <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div> -->
        <!-- Preloader End -->

        <!-- ========== Start header ========== -->
        <%-include('mainHeader.ejs')%>
            <!-- ========== End header ========== -->


            <!-- Page Banner Start -->
            <div id="bg-color-purple">
                <div class="container">
                    <div class="event-about-section">
                        <div class="call-papers">
                            <img src="/assets/images/call-papers.svg" alt="">
                        </div>
                        <%-include("eventNav.ejs")%>
                    </div>
                    <% speakerData.forEach(item=> { %>
                    <img src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ item.photo}` %>" alt="">
                    <h3><%= item.name %></h3>
                    <p><%= item.designation %></p>
                    <% }); %>
                </div>
            </div>

    </div>
    <div>
        <%-include('mainFooter.ejs')%>

</body>


</html>