<!-- ========== Start header ========== -->
<%-include("mainHeader.ejs")%>
  <!-- ========== End header ========== -->

  <body>
    <!-- Offcanvas End -->
    <!-- Slider Section Start  -->
    <div id="bg-color-purple">
      <div class="meeta-hero-section-3 "
        style="background-image: url('assets/images/header-svg.svg'); background-position: bottom;background-size: cover;position: relative; z-index: 3;">
      </div>
      <div class="about-sio">
        <div class="container">
          <div class="title-para">
            <h1 class="about-sio-title">About us</h1>
            <p class="about-sio-para"> <%= aboutData.vision %> </p> <br>
            <p class="about-sio-para"> <%= aboutData.mission %> </p> <br>
            <p class="about-sio-para"> <%= aboutData.shortDescription %> </p>
          </div>
        </div>
      </div>
      <div class="about-gradient-img"></div>

      <!-- Slider Section End -->
      <!-- programs sections------ starts -->
      <div class="testimonial programe-section">
        <div class="container">
          <div class="testimonialphone">
            <div class=" text-center">
              <h1 class="pb-3 about-sio-title">Testimonial</h1>
            </div>
            <%-include("testimoniacommon.ejs")%>
          </div>
          <div class=" text-center">
            <h1 class="pb-3 about-sio-title">Programs</h1>
          </div>
          <div class="programe-texts">
            <div class="row program-title-items">
              <div class="col-12 col-sm-6 col-md-3 text-center">
                <div class="program_box no_border">
                  <h1 class="program_count">550</h1>
                  <h3>Seminar</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center ">
                <div class="program_box">
                  <h1 class="program_count">804</h1>
                  <h3>Workshops</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center ">
                <div class="program_box">
                  <h1 class="program_count">302</h1>
                  <h3>Public <br> Discussion</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-3 text-center ">
                <div class="program_box">
                  <h1 class="program_count">100</h1>
                  <h3>Reading <br> Sessions</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 text-center ">
                <div class="program_box no_border">
                  <h3 class="pt-4">Academic<br> Conference</h3>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-4 text-center ">
                <div class="program_box">
                  <h1 class="program_count">410</h1>
                  <h3>
                    Book Talks</h3>
                </div>

              </div>
              <div class="col-12 col-sm-6 col-md-4 text-center ">
                <div class="program_box">
                  <h3 class="pt-4">Online Academic <br> Conclaves</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- programs sections------ends-->

      <div class="container">
        <div class="work-shop-section">
          <div class="c-testimonials">
            <ul class="c-testimonials__items swiper-wrapper">
              <!-- CARD 1 -->
              <% eventData.forEach(item=> { %>
              <li class="c-testimonials__item c-card-testimonial swiper-slide">
                <div class="c-card-testimonial__profile">
                  <img style="object-fit: cover;" src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ item.image}` %>" alt="" class="c-card-testimonial__image">
                </div>

                <div class="c-card-testimonial__description">
                  <span class="c-card-testimonial__job">
                    One day Workshop on
                  </span>

                  <div class="c-card-testimonial__author">
                    <%= item.title %>
                  </div>

                  <div class="c-card-testimonial__excerpt">
                    <%= item.shortDescription %>
                  </div>

                  <a href="/register" class="c-card-testimonial__link " id="register_card_btn" target="_blank">
                    Register <i class="fa fa-arrow-right"></i>
                  </a>
                </div>
              </li>
              <% }); %>
            </ul>

            <div class="c-testimonials__upcoming">
              <img src="/assets/images/Group 810.png" alt="">
            </div>
            <div class="c-testimonials__pagination"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>


    <!-- ========== Start footer ========== -->
    <%-include("mainFooter.ejs")%>
      <!-- ========== End footer ========== -->



  </body>

  </html>