<head>
  <!-- ========== Start header ========== -->
  <%-include("mainHeader.ejs")%>
    <!-- ========== End header ========== -->
    <style>
      /* Modal styles */
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Background with 50% opacity */
        justify-content: center;
        align-items: center;
      }
    
      .modal-content {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        max-width: 400px;
        width: 100%;
        text-align: center;
      }
    
      .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }
    </style>
    
</head>
<!-- Preloader start -->
<!-- <div id="preloader">
      <div class="preloader">
        <span></span>
        <span></span>
      </div>
    </div> -->
<!-- Preloader End -->

<body id="bg-color-purple">
  <!-- Offcanvas End -->
  <!-- Slider Section Start  -->
  <div>
    <div class="meeta-hero-section-3 "
      style="background-image: url('assets/images/header-svg.svg'); background-position: bottom;background-size: cover;position: relative; z-index: 3;">
    </div>
    <div class="rectangle_background_top">
    </div>
    <div class="container">
      <a href="/registration">
        <img src="/assets/images/bannersio.JPG" alt="" width="100%" height="auto" style="border-radius: 5px;">
      </a>
    </div>
    <div class="about-sio">
      <div class="container">
        <div class="title-para">
          <h1 class="about-sio-title">Let's Navigate..!</h1>
          <div class="about_navigate_para">
            <p class="about-sio-para">
              <%= aboutData.vision %>
            </p> <br>
            <p class="about-sio-para">
              <%= aboutData.mission %>
            </p> <br>
            <p class="about-sio-para">
              <%= aboutData.shortDescription %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="about-gradient-img"></div>

    <!-- Slider Section End -->
    <!-- programs sections------ starts -->
    <div class="testimonial programe-section">
      <div class="container">
        <div class="testimonialphone">
          <div class=" text-center">
            <h1 class="pb-3 about-sio-title">Testimonial</h1>
          </div>
          <%-include("testimoniacommon.ejs")%>
        </div>
        <div class=" text-center">
          <h1 class="mt-5 about-sio-title">Programs</h1>
        </div>
        <div id="scrollTrigger" style="height: 1px;"></div>
        <div class="programe-texts">
          <div class="row program-title-items">
            <% eventTypeCounts.forEach(item=> { %>
              <div class="col-4 col-sm-6 col-md-3 text-center">
                <div class="program_box">
                  <h1 class="program_count fade-in">
                    <%= item.count %>
                  </h1>
                  <h3>
                    <%= item.count> 1 ? item._id + 's' : item._id %>
                  </h3>
                </div>
              </div>
              <% }); %>
          </div>
        </div>
      </div>
    </div>
    <!-- programs sections------ends-->
    <div class="rectangle_background_down">
    </div>
    <div class="container c-testimonials__upcoming_mobile">
      <img src="/assets/images/upcoming_events.svg" alt="">
    </div>
    <div class="container">
      <div class="work-shop-section">
        <div class="c-testimonials">
          <ul class="c-testimonials__items swiper-wrapper">
            <!-- CARD 1 -->
            <% eventData.forEach(item=> { %>
              <li class="c-testimonials__item c-card-testimonial swiper-slide">
                <div class="c-card-testimonial__profile">
                  <a href="/event_single/<%= item._id %>">
                    <img style="object-fit: cover;"
                      src="<%= `https://event-manager.syd1.cdn.digitaloceanspaces.com/${ item.image}` %>" alt=""
                      class="c-card-testimonial__image">
                </div>
                <div class="c-card-testimonial__description">
                  <div class="c-card-testimonial__author">
                    <p>
                      <% const eventDate=new Date(item.date); %>
                        <% const months=['JAN', 'FEB' , 'MAR' , 'APR' , 'MAY' , 'JUN' , 'JUL' , 'AUG' , 'SEP' , 'OCT'
                          , 'NOV' , 'DEC' ]; %>
                          <% const monthAbbreviation=months[eventDate.getMonth()]; %>
                            <% const day=eventDate.getDate(); %>
                              <% const dayOfWeek=['SUNDAY', 'MONDAY' , 'TUESDAY' , 'WEDNESDAY' , 'THURSDAY' , 'FRIDAY'
                                , 'SATURDAY' ][eventDate.getDay()]; %>
                                <%= monthAbbreviation %>
                                  <%= day %>
                                    <%= dayOfWeek %>
                    </p>
                  </div>
                  <div class="c-card-testimonial__excerpt">
                    <p>
                      <% const eventTime=new Date(item.time); %>
                        <% const hours=eventTime.getHours(); %>
                          <% const minutes=eventTime.getMinutes(); %>
                            <% const timeFormatted=(hours % 12 || 12) + ':' + (minutes < 10 ? '0' : '' ) + minutes + ' '
                              + (hours>= 12 ? 'PM' : 'AM'); %> <%= timeFormatted %> | <%= item.venue %>
                                  </>
                    </p>
                  </div>
                  <div class="swiper_items">
                    <h5>Swipe for More</h5>
                    <h6 class="swipe_button">
                    </h6>
                  </div>
                  </a>
                </div>
              </li>
              <% }); %>
          </ul>
          <div class="c-testimonials__upcoming">
            <img src="/assets/images/upcoming_events.svg" alt="">
          </div>
          <div class="c-testimonials__pagination"></div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <!-- Modal -->
<div class="modal" id="myModal">
  <div class="modal-content">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <p id="popupMessage"></p>
  </div>
</div>
  <!-- ========== Start footer ========== -->
  <%-include("mainFooter.ejs")%>
    <!-- ========== End footer ========== -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Function to extract URL parameters
        function getParameterByName(name, url) {
          if (!url) url = window.location.href;
          name = name.replace(/[\[\]]/g, "\\$&");
          var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return "";
          return decodeURIComponent(results[2].replace(/\+/g, " "));
        }
    
        // Function to show a message as a modal popup
        function showMessageModal() {
          // Get the message parameter from the URL
          var message = getParameterByName("msg");
    
          if (message) {
            // Decode the URL-encoded message
            var decodedMessage = decodeURIComponent(message);
    
            // Display the decoded message in the modal
            document.getElementById("popupMessage").innerHTML = decodedMessage;
    
            // Show the modal
            document.getElementById("myModal").style.display = "flex";
          }
        }
    
        // Call the function to show the message modal
        showMessageModal();
      });
    
      // Function to close the modal
      function closeModal() {
        document.getElementById("myModal").style.display = "none";
      }
    </script>
    
</body>

</html>